*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(241, 238, 238);

    header{
        display: flex;
        align-items: center;
        max-width: 1280px;
        height: 88px;
        background-color: white;
        margin: auto;
        justify-content: space-between;
        padding-inline: 24px;
        font-size: 54px;
        font-weight: 600;
        margin-block-end: 24px;
        box-shadow: 10px;

        .btn{
            display: flex;
            border-radius: 50%;
            align-items: center;
            gap: 15px;

            button{
                border-radius: 50%;
                cursor: pointer;
                background-color: white;

            }
        }
    }
    main{
        max-width: 1280px;
        margin: auto;

        form{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 24px;
        

            input{
                width:200px;
                height: 40px;
                border-radius: 10px;
                border: none;
                font-size: 18px;
                padding-left: 10px;
                font-weight: 600;
                border: solid rgb(171, 166, 166);
            }

            select{
                width:200px;
                height: 40px;
                border-radius: 10px;
                border: none;
                font-size: 18px;
                padding-left: 10px;
                font-weight: 600; 
                border: solid rgb(171, 166, 166);
            }
        }
    }

    .content-list{
       
        max-width: 1280px;
        margin: auto;
        margin-block-start: 50px;
        

        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            flex-wrap: wrap;

            .card{
                background-color: rgb(154, 148, 148);
                border-radius: 10px;

                display: grid;
                justify-content: flex-start;
                align-items: center;
                gap: 15px;
                padding-inline: 10px;
                padding-block-end: 10px;

                .btn{

                    button{
                        height: 44px;
                        padding: 5px;
                        border-radius: 40px;
                        cursor: pointer;
                    }
                }
                
            }
        }
        
    }
   
}